:root {
    --positionX: 20px;
    --positionXOpposite: -20px;
    --positionY: 20px;
    --positionYOpposite: -20px;
    --angle: 145deg;
    --blur: 60px;
    --textColor: #001f3f;
    --textColorOpposite: #e0e0e0;
    --baseColor: #e0e0e0;
    --darkColor: #bebebe;
    --lightColor: #ffffff;
    --firstGradientColor: #e0e0e0;
    --secondGradientColor: #e0e0e0;
    --size: 300px;
    --radius: 50px;
}

/* Fondo animado moderno */
body {
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: #e8e8e8;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-self-end {
    align-self: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-nowrap {
    white-space: nowrap;
}

.text-break-word {
    word-wrap: break-word;
}

.text-break-all {
    word-break: break-all;
}

.text-hide {
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Encabezado con tipografía y sombra */
.header {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}


.todo-list {
    position: relative;
    /* Importante para que z-index funcione */
    padding: 20px;
    margin: 10px 0;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.todo-list.completed {
    background-color: #1a7465;
}

.todo-list.completed .list-title,
.todo-list.completed .todo-text,
.todo-list.completed .list-item.completed .todo-text {
    color: #fff;
    text-decoration: line-through;
}

.tools {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.red {
    background-color: #ff605c;
    border: 0.5px solid #b3372e;
}

.red:hover {
    background-color: #ff5045;
    transition: background-color 0.2s ease;
}

.disabled .red {
    background-color: #a89494;
    cursor: not-allowed;
    border: 0.5px solid #a89494;
}

.yellow {
    background-color: #ffbc34;
    border: 0.5px solid #d1a330;
}

.yellow:hover {
    background-color: #ffc535;
    transition: background-color 0.2s ease;
}

.disabled .yellow {
    background-color: #dfd9d0;
    cursor: not-allowed;
    border: 0.5px solid #dfd9d0;
}

.green {
    background-color: #23b95d;
    border: 0.5px solid #1a8d2b;
}

.green:hover {
    background-color: #00e422;
    transition: background-color 0.2s ease;
}

.disabled .green {
    background-color: #d5e9e0;
    cursor: not-allowed;
    border: 0.5px solid #d5e9e0;
}

.list-title {
    font-weight: 500;
    margin-bottom: 15px;
    color: #626262;
}

/* Estilo para los items de tarea */
.list-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.2s ease;
    position: relative;
    color: #626262;
}

.list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-item.completed {
    text-decoration: line-through;
    color: #ccc;
    opacity: 0.7;
}

.list-item .form-check-input {
    margin-right: 10px;
}

.list-item-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
}

.list-item:hover .list-item-actions {
    display: flex;
}

.list-item-actions .btn {
    margin-left: 5px;
    padding: 0.2rem 0.4rem;
}

.list-item-actions .todo-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: box-shadow 0.3s ease;
}

@keyframes bounceWobble {
    0% {
        transform: scale(1) translateY(0) rotate(0deg);
    }

    20% {
        transform: scale(1.1) translateY(-10px) rotate(5deg);
    }

    40% {
        transform: scale(1.1) translateY(0) rotate(-5deg);
    }

    60% {
        transform: scale(1.1) translateY(-5px) rotate(3deg);
    }

    80% {
        transform: scale(1.1) translateY(0) rotate(-3deg);
    }

    100% {
        transform: scale(1.1) translateY(0) rotate(0deg);
    }
}

.list-item-actions .todo-image:hover {
    animation: bounceWobble 0.8s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Inputs y formularios */
.edit-input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

.custom-dropzone {
    position: relative;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: #626262;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    border: 3px dashed #626262;
}

/* Animación del borde */
.custom-dropzone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    transition: border-color 0.3s ease-in-out;
}

/* Glow effect */
.custom-dropzone:hover {
    background: linear-gradient(135deg, #1a7465 0%, #00c2ff 100%);
    color: #fff;
}

/* Texto bien alineado */
.custom-dropzone span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #626262;
    transition: color 0.3s ease-in-out;
}

/* Estado Drag Over */
.custom-dropzone.dragover {
    background: linear-gradient(135deg, #0078ff 0%, #00c2ff 100%);
    color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 120, 255, 0.5);
    border-color: #fff;
}

.custom-dropzone.dragover span {
    color: #fff;
}

/* Transición suave al soltar el archivo */
.custom-dropzone.dropped {
    animation: fadeOut 0.8s ease-in-out forwards;
}

/* Animación al soltar */
@keyframes fadeOut {
    0% {
        background: linear-gradient(135deg, #0078ff 0%, #00c2ff 100%);
    }

    100% {
        background: #f9f9f9;
    }
}

.fullscreen-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
}

/* Ajuste de formularios para agregar listas y tareas */
.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .btn {
    border-radius: 0 0.25rem 0.25rem 0;
    transition: background-color 0.3s ease;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1em;
    background-color: #f0f0f0;
    box-shadow: inset 2px 5px 10px rgba(82, 82, 82, 0.3);
    transition: 300ms ease-in-out;
}

.button {
    background-color: #e4e4e4;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #c4c4c4,
        inset -5px -5px 5px #ffffff;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

/* Contenedor de las olas */
.wave-container {
    width: 200%;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
}


/* Estilo de la onda */
.animated-wave {
    width: 100%;
    flex-shrink: 0;
    animation: waveAnimation 10s linear infinite;
}


.footer-user {
    position: absolute;
    bottom: 10px;
    /* Ajusta según necesites */
    right: 10px;
    /* Ajusta según necesites */
    z-index: 10;
    /* Para que se muestre por encima del SVG */
    color: #fff;
    /* O el color que se adecúe a tu diseño */
    font-size: 16px;
    /* Ajusta el tamaño de fuente según tu diseño */
}

/* Animación para mover las olas de forma continua */
@keyframes waveAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.todo-text {
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.todo-text:hover {
    color: #2b325a;
    transition: color 0.3s ease;
}

.list-item.completed .todo-text {
    text-decoration: line-through;
    color: #999;
}

.list-item.completed .todo-text:hover {
    color: #626262;
}

.form-check-input {
    cursor: pointer;
}

/* Botones de edicion y eliminacion */
.btn-edit-todo,
.btn-delete-todo {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #999; /* Color gris similar al de la imagen */
    font-size: 18px;
    transition: color 0.3s ease;
}

.btn-edit-todo:hover,
.btn-delete-todo:hover {
    color: #666; /* Oscurece un poco al pasar el mouse */
}

.btn-edit-todo i,
.btn-delete-todo i {
    font-size: 18px;
    vertical-align: middle;
}

.btn-separator {
    color: #999; /* Color del separador */
    margin: 0 8px;
    font-size: 18px;
}

/* Estilos generales de los botones */
.btn-mover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

/* Efecto hover */
.btn-mover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Iconos */
.btn-mover i {
    font-size: 20px;
    color: #2c3e50; /* Color oscuro similar al de la imagen */
}

.btn-mover.disabled {
    background-color: transparent;
    border: none;
    cursor: not-allowed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.btn-mover.disabled i {
    color: #ccc; /* Color gris claro para contrastar con el fondo oscuro */
}

/* Contenedor para posicionar los botones */
.botones-container {
    display: flex;
    justify-content: space-between;
    width: 100px; /* Ajustar al tamaño deseado */
}

.todo-list.completed .btn-mover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.todo-list.completed .btn-mover:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.todo-list.completed .btn-mover i {
    font-size: 20px;
    color: #f8f8f8; /* Color claro para contrastar con el fondo oscuro */
}